<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <input name="uploadFiles" type="file" multiple>
  <button class="uploadBtn">Upload</button>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script>
    $('.uploadBtn').click(function() {
      var formData = new FormData();
      var inputFile = $("input[type='file']");
      var files = inputFile[0].files;

      for(var i = 0; i< files.length; i++) {
          console.log(files[i]);
          formData.append("uploadFiles",files[i]);
      }
      // 실제 업로드 부분
      $.ajax({
        url: '/uploadAjax/',
        processData: false,
        contentType: false,
        data: formData,
        type: 'POST',
        dataType: 'json',
        success : function(result) {
            console.log(result);
        },
        error: function(jqXHR, textStatus, errorThrown) {
        console.log(textStatus);
        }
      }); //ajax

    });
  </script>

</body>
</html>